.todo__creator-form {
    display: flex;
}

.creator__description {
    width: 100%;
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid blue;
}

.creator__description-button {
    background-color: blue;
    color: white;

    &:disabled {
        background-color: #8989f7;
    }
}