.task__info {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &_description {
        font-size: 20px;
        font-weight: bold;
        margin: 0 5px 5px 0;
    }
}

.task__button {
    display: flex;
    align-items: center;
    padding: 10px;

    button {
        margin-right: 5px;
        color: #fff;

        &:last-child {
            margin-right: 0;
        } 
    }

    &_complete {
        background-color: green;
    }

    &_delete {
        background-color: red;
    }
}

.task__comleted {
    text-decoration: line-through;
}