.todo__wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.todo__info {
    flex: 1 0 auto;
}

.todo__creator {
    flex: 0 0 auto;
    margin-bottom: 5px;
}

.todo__title {
    margin: 30px;
    text-align: center;
}